body {
    background-color: #212121;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(172, 164, 164);
    height: 450px;
    width: 350px;
    border-radius: 15px;
}

.image {
    display: flex;
    justify-content: center;
}

#profile-photo {
    border-radius: 15px;
    margin: 7px
}

.form {
    height: 300px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}